{% extends 'index.html' %}

{% block title %} Books {% endblock %}

{% block content %}

<div class="container">
    <a class="btn btn-primary my-3" href="{% url 'add_book' %}"> Add New Book </a>

    <div class="row">
        {% for book in books %}
            <div class="col-md-4 mb-4"> 
                <div class="card" style="width: 18rem;">
                    <img src="{{ book.cover }}" alt="{{ book.title }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.description }}</p>
                        <p><strong>Genre:</strong> {{ book.genre }}</p>
                        <p>Author: {{ book.Authors.author }}</p>
                    </div>
                </div>
            </div>
        
        {% endfor %}
    </div>
</div>

{% endblock %}
