{% extends 'index.html' %}
{% block title %} <title>Book Details</title> {% endblock %}

{% block content %}

<div class="container">

<div class="book card-xs">
    
    <img src=" {{ book.cover }} " alt="">
    <h3>{{book.title}}</h3>
    <span>Author: {{ book.author }}</span>
    <p>{{ book.description }}</p>
</div>

{% if request.user.is_superuser %}
        <a href="{% url 'delete_book' book.id %}" class="btn btn-danger">Delete book</a> 
{% endif %}
        <a href="{% url 'update_book'  book.id %}" class="btn btn-primar">Update</a>  
</div>

{% endblock %}